<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Order Details List</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="icon" th:href="@{/img/ubuntu.png}">

    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery-3.3.1.slim.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
</head>
<body>
<div class="container"><h2>ORDER DETAILS DATA</h2></div>
<div class="container"><a class="btn btn-info" role="button" th:href="@{/orders-details/create}">New</a></div>
<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Order Details Number</th>
            <th scope="col">Order ID</th>
            <th scope="col">Product ID</th>
            <th scope="col">Quantity</th>
            <th scope="col">Sub Total</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="od : ${orderDetails}">
            <td scope="col" th:text="${od.orderDetailsNo}"></td>
            <td scope="col" th:text="${od.orderId}"></td>
            <td scope="col" th:text="${od.productId}"></td>
            <td scope="col" th:text="${od.quantity}"></td>
            <td scope="col" th:text="${od.subtotal}"></td>
            <td scope="col">
                <a class="btn btn-primary" role="button"
                   th:href="${'/orders/edit/'+od.orderId}"><span>Edit</span></a>
                <a class="btn btn-danger" role="button"
                   th:href="${'/orders/hapus/'+od.orderId}"><span>Remove</span></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
