<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Order</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no"
          name="viewport">

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="icon" th:href="@{/img/ubuntu.png}">

    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery-3.3.1.slim.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/popper.min.js}" type="text/javascript"></script>
</head>
<body>

<div class="container">
    <h2>Form Add Order</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <form class="form-horizontal" method="post"
                  th:action="@{/orders/create}" th:object="${order}">
                <input th:field="*{orderId}" type="hidden"/>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Select Customer:</label>
                    <div class="col-sm-8">
                        <select name="customer.customerId">
                            <option th:each="c : ${customers}"
                                    th:text="${c.cusFirstname}"
                                    th:value="${c.customerId}">Customer First Name
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Select Produk:</label>
                    <div class="col-sm-8">
                        <select name="orderDetails[0].product.productId">
                            <option th:each="p : ${products}"
                                    th:text="${p.productName}"
                                    th:value="${p.productId}">Product Name
                            </option>
                        </select>
                        <input name="orderDetails[0].quantity" type="text"/>
                    </div>
                </div>


                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Save">
                    <a class="btn btn-danger" role="button" th:href="@{/orders/list}">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
